.file-tree-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.controls {
    padding: var(--padding-small);
    flex-shrink: 0;
}

.selected {
    margin-top: 4px;
    font-size: 14px;
}

.error {
    margin-top: 4px;
    font-size: 14px;
}

.tree-area {
    flex: 1;
    overflow: auto;
    padding: var(--padding-small);
}

.loading {
    display: flex;
    gap: var(--padding-small);
    align-items: center;
}

.n-tree {
    max-height: 100%;
}
